<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ asset('bundles/main/ico/favicon.ico') }}">

    <title>Thông tin sự kiện - {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/main/css/bootstrap-full.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/main/css/style.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ asset('bundles/main/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/main/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/main/js/respond.min.js') }}"></script>
    <![endif]-->

    <script type="text/javascript">
        var base_url = "{{ app.request.schemeAndHttpHost }}/{{ app.request.getBaseURL() }}";
    </script>
</head>

<body>
<div class="header">
    <div class="container">
        <div class="logo"><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}" title="Home"><img src="{{ asset('bundles/main/img/logo.png') }}"></a></div>
        <div class="banner"><img src="{{ asset('bundles/main/img/banner.png') }}"></div>
    </div>
</div>
<div class="nav-top">
    <div class="container">
        {{ render(controller("CMSMainBundle:Default:menu", {'position':'top'}))}}
    </div>
</div>

<div class="container wrapper">
    {% block content %}
    {% endblock %}
</div>

<div class="footer">
    <div class="nav-bot">
        <div class="container">
            <nav class="blog-nav">
                <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}" title="Home page"><img src="{{ asset('bundles/main/img/logo-footer.png') }}" alt="thonginsukien.info"></a>
                <a class="blog-nav-item active" href="#">Home</a>
                <a class="blog-nav-item" href="#">New features</a>
                <a class="blog-nav-item" href="#">Press</a>
                <a class="blog-nav-item" href="#">New hires</a>
                <a class="blog-nav-item" href="#">About</a>
            </nav>
        </div>
    </div>
    <div class="footer-content container">
        {{ render(controller("CMSMainBundle:Default:menu", {'position':'bot'}))}}
        <div class="row info">
            <p>Bản quyền © 2014 thongtinsukien.info<br>
            Ghi rõ nguồn thongtinsukien.info khi phát hành lại thông tin từ website này.<br>
            Website đang trong quá trình thử nghiệm, chờ cấp phép của Bộ Thông Tin và Truyền Thông
            </p>
        </div>
    </div>
</div>

<div class="trigger"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/main/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/main/js/docs.min.js') }}"></script>
<script src="{{ asset('bundles/main/js/common.js') }}"></script>
<script>
    var $i = 0;
    var flat = 0;
    var $lenght = $(".blog-banner-main .flipper").length;

    $(document).ready(function(){
        /* --- Setup right slide bar scroll ---*/
        // define value
        var $scrollDom = $('.blog-sidebar .view-best');
        var $triggerDom = $('.trigger');
        var $viewTop = $scrollDom.offset().top-20;
        var $margin = ($(window).width() - $('.wrapper').width())/2 -15;
        $scrollDom.clone().appendTo(".trigger");

        // fix margin value when window resize
        $(window).resize(function(){
            $margin = ($(window).width() - $('.wrapper').width())/2 -15;
            $triggerDom.css('right',$margin);
        });

        // scroll event process
        $(window).scroll(function(){
            if($(this).scrollTop()>=$viewTop){
                $scrollDom.css('display','none');
                $triggerDom.css({right: $margin, display: 'block', top: ($(this).scrollTop()+20)+'px'});
            }else{
                $scrollDom.css('display','block');
                $triggerDom.css('display','none');
            }
        });
        /* --- END Setup right slide bar scroll ---*/

        // setup flip banner event
        $(".newest:eq(0)").addClass('active');
        setTimeout("counter($lenght)",3000);
    });

    function counter(lenght)
    {
        $lenght = lenght;
        if($i < $lenght){
            var element = ".blog-banner-main .flipper:eq("+$i+")";
            $(element).poFlip({
                effect : 'random'
            });
            flat++;
        }else{
            $i = 0;
            flat = 0;

            var element = ".blog-banner-main .flipper:eq("+$i+")";
            $(element).poFlip({
                effect : 'random'
            });
            flat++;
        }

        if(flat==2){
            var $newFeed = ".newest:eq("+$i+")";
            $($newFeed).fadeOut().removeClass('active').next().fadeIn().addClass('active');
            $i++;
            flat = 0;
        }
        setTimeout("counter($lenght)",3000);
    }
</script>
</body>
</html>
