{% extends "CMSAdminBundle::layout.html.twig" %}

{% block title %}Role - Detail{% endblock %}

{% block content %}
<div class="widget green">
	<div class="widget-title">
    	<h4><i class="icon-reorder"></i> Role Detail</h4>
        <span class="tools">
           <a href="javascript:;" class="icon-chevron-down"></a>
           <a href="javascript:;" class="icon-remove"></a>
        </span>
    </div>
    <div class="widget-body form cmxform form-horizontal">
            <div class="control-group">
				<label class="control-label"><strong>Id</strong></label>
				<div class="controls">
					<span>{{ entity.id }}</span>
				</div>
      		</div>
            <div class="control-group">
				<label class="control-label"><strong>Name</strong></label>
				<div class="controls">
					<span>{{ entity.name }}</span>
				</div>
      		</div>
            <div class="control-group">
				<label class="control-label"><strong>Role</strong></label>
				<div class="controls">
					<span>{{ entity.role }}</span>
				</div>
      		</div>
            <div class="mws-button-row">
    			<a class="btn btn-danger" href="{{ path('role_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
                <a class="btn btn-warning" href="{{ path('role_delete', { 'id': entity.id }) }}">
                    Delete
                </a>
    		</div>
        </form>
    </div>
</div>
{% endblock %}
