{% if position == 'top' %}
<nav class="blog-nav">
    {% for entity in menus %}
    <a class="blog-nav-item" title="{{ entity.name }}" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/{{ entity.url }}">{{ entity.name }}</a>
    {%  endfor %}
</nav>
{% endif %}

{% if position == 'bot' %}
<div class="row nav-main-bot">
    <ul>
    {% for entity in menus %}
        <li><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/{{ entity.url }}" title="{{ entity.name }}">{{ entity.name }}</a></li>
        {% if loop.index % 4 == 0 %}</ul><ul>{% endif %}
    {%  endfor %}
    </ul>
</div>
{% endif %}